* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}


/* ASIDE NAV STYLES */
.asideNavbar {
    width: 250px;
    height: 100vh;
    background-color: #23272f;
    border-right: 1px solid #159CC8;
    position: fixed;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.navbar-link {
    color: #fff;
    width: 100%;
    height: 80px;
    border: 5px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    border: 1px dashed aqua;
}

.navbar-link a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all .3s;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-link:hover a {
    transform: scale(1.01);
    color: aqua;

}

.escuchando_container {
    width: 100%;
}

/* HEADER STYLES */
.styledHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #23272f;
    color: #fff;
    position: relative;
    border-bottom: 2px solid aqua;
}

.userInfo_container {
    display: flex;
}

.userInfo {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.userName {
    color: aqua;
    font-size: 1.2rem;
}

.userIconBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userIconBox i {
    padding: 5px;
    font-size: 3rem;
    border-radius: 50%;
    border: 2px solid aqua;
}

.pageTitle_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageTitle a {
    font-family: monospace;
    cursor: pointer;
    color: aqua;
    transition: all .5s;
}

.pageTitle a:hover {
    text-shadow: 0px 0px 15px rgba(0,255,255,1);
}

/* MAIN STYLES */
.styledMain {
    width: 100%;
    min-height: 100vh;
    margin-left: 250px;
    background-color: #23272f;
}

.musicWrapper {
    width: 80%; 
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 50px 0;
}

.styledBox {
    padding: 10px;
    position: relative;
    border: 1px solid aqua;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

.styledBox img {
    width: 100%;
}

.styledBox i {
    left: 0;
    top: 0;
    font-size: 2rem;
    position: absolute;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
    background-color: #333;
    color: #ffF;
}

@media screen and (min-width: 768px) {
    .musicWrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (min-width: 1200px) {
    .musicWrapper {
        grid-template-columns: repeat(5, 1fr);
    }
}

/* STYLED FOOTER */
.styledFooter {
    margin-left: 250px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-top: 1px solid #159CC8;
    background-color: #23272f;
    color: #fff;
}

.styledFooterLogin {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-top: 1px solid #159CC8;
    background-color: #23272f;
    color: #fff;
}

/* - - - - - BUSCAR - - - - - */

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.search-box .button1 {
    height: 100%;
}

/* - - - - - PAGO - - - - - */
.main-pagar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.styledPlanElegido {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
} 

.pagar-wrapper {
    display: flex;
    justify-content: center;
}

.pago-form {
    width: 500px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}



/* - - - - - PLANES - - - - - */

.styledPlanes {
    width: 100%;
    min-height: 100vh;
    color: #fff;
    background-color: #23272f;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.styledPlanes h1 {
    padding-top: 20px;

}

.styledPlan-wrapper {
    display: flex;
}

.imagen-planes {
    width: 100%;
    display: flex;
    justify-content: center;
}

.imagen-planes img { 
    width: 80%;
    margin: 0 auto;
    object-fit: contain;
}

.styledPlan-wrapper .plan-box {
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all .3s;
    overflow: hidden;
    border: 1px solid #117fa4;
    background-color: #23272f;
}

.plan-box:hover {
    transform: scale(1.1);
    overflow: hidden;
}

.styledPlan-wrapper div h3 {
    color: aqua;
    font-size: 1.6rem;
    transition: all .3s;
}

.styledPlan-wrapper div h3:hover {
    text-shadow: 0px 0px 9px rgba(0,255,255,0.65);
}

.styledPlan-wrapper div p {
  text-align: center;
}

/*  - - - - - FAVS - - - - - */

.fav-title {
    margin-top: 20px;
}

.fav-wrapper {
    margin: auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fav-header {
	display: flex;
    background-color: #117fa4;
}

.fav-header .fav-row p {
	display: flex;
    font-weight: bold;
    border: 1px solid #fff;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
}

.fav-body .fav-row p {
	display: flex;
	justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    padding: 10px 15px;
}

.fav-body .fav-row p i {
    font-size: 3rem;
    color: aqua;
}

.fav-row {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: auto;
    transition: all .2s;
}

.fav-row:hover {
    background-color: #353b46;
}

/* - - - - - LOGIN - - - - - */
.styledLogin {
    width: 100%;
    min-height: 100vh;
    color: #fff;
    background-color: #23272f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.styled-form {
    width: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #117fa4;
}

.input-container {
    width: 100%;
}

.styled-input {
    width: 100%;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.styled-input:focus {
    border-color: #159CC8; 
    box-shadow: 0 0 5px rgba(231, 76, 60, 0.5);
}

.styled-input::placeholder {
    color: #95a5a6; 
}

/* PERSONAL CLASSNAMES */
.text-center {
    text-align: center;
}

.text-white {
    color: #fff;
}

.m-auto {
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.gap-2 {
    gap: 20px;
}

.jcc {
    justify-content: center;
}

.bor1 {
    border: 5px solid red;
}

.bor2 {
    border: 5px solid blue;
}

.bor3 {
    border: 5px solid yellow;
}

.bor4 {
    border: 5px solid black;
}

.bor5 {
    border: 5px solid #fff;;
}

.a-stlyed {
    color: #fff;
    transition: all .3s;
    cursor: pointer;
}

.a-red {
    color: #d3142e;
    transition: all .3s;
}

.a-red:hover {
    text-shadow: 0px 0px 15px rgb(255, 255, 255);
}

.a-stlyed:hover {
    color: aqua;
    transform: scale(1.01);
}

.sp-1 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.sp-2 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

.p-bold {
    font-weight: bold;
}

.color-font {
    color: aqua;
}

.mainDefault {
    width: 100%;
    min-height: 100vh;
    background-color: #23272f;
    color: #fff;
    position: relative;
    border-bottom: 2px solid aqua;
}

/* COMPONENTS */
.button-1 {
  background-color: #159CC8;
  color: #FFFFFF;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  padding: 10px 16px;
  text-align: center;
  transition: all .3s;
}

.button-1 a {
    text-decoration: none !important;
    color: #fff;
}

.button-1:hover,
.button-1:focus {
  background-color: #117fa4;
}

.button-2 {
    background-color: #ac1025;
    color: #FFFFFF;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    padding: 10px 16px;
    text-align: center;
    transition: all .3s;
  }
  
  .button-2 a {
      text-decoration: none !important;
      color: #fff;
  }
  
  .button-2:hover,
  .button-2:focus {
    background-color: #8c0d1e;
  }

/* JS CLASS */
.likedElement {
    background-color: pink !important;
    color: #ff0000 !important;
    transition: .3s all;
}
